.text {
  text-decoration: none;
  height: 20px;
  width: 181px;
  position: relative;
  color: inherit;
  display: inline-block;
}
.icons1 {
  width: 24px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 0px 0px var(--padding-5xs);
  gap: var(--gap-11xs);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-darkslategray);
  font-family: var(--font-montserrat);
}
